.container {
    width: 15em;
    margin: auto;
    height: 100%;
}

.container_img {
    overflow: hidden;
}

.container_img > img {
    width: 100%;
    height: 15em;
    background-position: center;
    object-fit: cover;
}

.container_texto {
    margin-block: 2em;
    opacity: 0%;
    text-align: center;
    transition: .5s;
}

.container:hover > .container_texto {
    opacity: 100%;
}

h2 {
    font-family: var(--montserrat);
    font-size: 1.6rem;
}

p {
    font-family: var(--montserrat);
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .container_texto {
        opacity: 100%;
    }
}
