<section id="about">
    <div class="container">
        <app-card imagem="https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?q=80&w=1949&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" title="Cães" texto="Tudo para seu doguinho."></app-card>
        <app-card imagem="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?q=80&w=2043&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" title="Gatos" texto="Aqui, seu gato não fica de fora."></app-card>
        <app-card imagem="https://images.unsplash.com/photo-1529040274442-815019b0e4fc?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" title="Outros" texto="Atendemos todos os tipos de animais."></app-card>
    </div>
</section>
