<section id="acordeonAba">
    <h2 class="title"><span>Perguntas</span> frequentes</h2>
    <div id="container">
        <!-- acordeon 1 -->
        <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Onde fica?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 2 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Formas de pagamento?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 3 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Também tem veterinário?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordedeon 4 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Bônus de fidelidade?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 5 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Horários de atendimento?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 6 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Dias de atendimento?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

    </div>
</section>
